<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>To Do App</title>
    <script src="https://unpkg.com/htmx.org"></script>
  </head>
  <body>
    <h1>FILIPUS To Do App</h1>

    <form hx-post="/add-task" hx-target="#todo-list">
      <input type="text" name="title" required />
      <button type="submit">Add Task</button>
    </form>

    <div id="todo-list" hx-get="/tasks" hx-trigger="load">Loading tasks...</div>
  </body>
</html>
